<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2>About Us</h2>
          <ul class="bread-list">
            <li><a href="">Home</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Why choose -->
<section class="why-choose section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>We Offer Different Services To Improve Your Health</h2>
          <img src="../../../assets/img/section-img.png" alt="#" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12">
        <!-- Start Choose Left -->
        <div class="choose-left">
          <h3>Who We Are</h3>
          <p>
            The data collected currently shows that there are approximately 3
            million new cases of colorectal cancer patients annually. We foresee
            an issue in the future and are actively seeking opportunities to
            address the cancer problem. We have qualified doctors specialized in
            this field who are here to provide direct treatment for cancer
            patients. In the early stages, colorectal cancer can be treated and
            cured. However, if detected at an advanced stage or diagnosed late,
            it becomes challenging to cure. We are determined to study and
            progress in proactive approaches to screen individuals at risk of
            cancer. You can contact the hospital immediately for faster
            treatment.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul class="list">
                <li>
                  <i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh.
                </li>
                <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list">
                <li>
                  <i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh.
                </li>
                <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Choose Left -->
      </div>
    </div>
  </div>
</section>
<!--/ End Why choose -->
