<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12">
          <ul class="top-link">
          </ul>
        </div>
        <div class="col-lg-6 col-md-7 col-12">
        </div>
      </div>
    </div>
  </div>
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="logo">
              <a href=""><img src="../../../assets/img/logo.jpg" alt="#" /></a>
            </div>
            <!-- <div class="mobile-nav"></div> -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="">
              <nav class="nav">

                <ul class="">
                  <li>
                    <p (click)="home()">Home</p>
                  </li>
                  <li>
                    <p (click)="about()">About Us</p>
                  </li>
                  <li>
                    <p (click)="appointment()">Contact Us</p>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-12">
            <ul class="top-contact" style="text-align: center;">
              <li><i class="fa fa-phone"></i>+000000000</li>
              <li>
                <i class="fa fa-envelope"></i><a href="mailto:wellnesswecarethailand@gmail.com">wellnesswecarethailand@gmail.com</a>
              </li>
              <li>
                <div class="iconBar">
                  <a href="https://www.facebook.com/kps.kasemradsurgery" class="social"><img src="../assets/img/facebook.png" (click)="click('FACEBOOK')" alt=""></a>
                  <a href="https://line.me/ti/p/07e7OyUft_" class="social"><img src="../assets/img/line.png" (click)="click('LINE')" alt=""></a>
                  <a href="home" class="social"><img src="../assets/img/wechat.png" (click)="click('WECHAT')" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->