<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12">
          <!-- Contact -->
          <ul class="top-link">
            <!-- <li><a href="#">About</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li> -->
          </ul>
          <!-- End Contact -->
        </div>
        <div class="col-lg-6 col-md-7 col-12">
          <!-- Top Contact -->
          <!-- <ul class="top-contact">
            <li><i class="fa fa-phone"></i>+000000000</li>
            <li>
              <i class="fa fa-envelope"></i><a href="mailto:wellnesswecarethailand@gmail.com">wellnesswecarethailand@gmail.com</a>
            </li>
          </ul> -->
          <!-- End Top Contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Start Logo -->
            <div class="logo">
              <a href="home"><img src="../../../assets/img/logo.jpg" alt="#" /></a>
            </div>
            <!-- End Logo -->
            <!-- Mobile Nav -->
            <div class="mobile-nav"></div>
            <!-- End Mobile Nav -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Main Menu -->
            <div class="main-menu">
              <nav class="navigation">
                <ul class="nav menu">
                  <li>
                    <a href="home">Home</a>
                  </li>
                  <li>
                    <a href="about">About Us</a>
                  </li>

                  <li><a href="appointment">Contact Us</a></li>
                </ul>
              </nav>
            </div>
            <!--/ End Main Menu -->
          </div>
          <div class="col-lg-5 col-md-12 col-12">
            <ul class="top-contact" style="text-align: center;">
              <li><i class="fa fa-phone"></i>+000000000</li>
              <li>
                <i class="fa fa-envelope"></i><a href="mailto:wellnesswecarethailand@gmail.com">wellnesswecarethailand@gmail.com</a>
              </li>
              <li>
                <div class="iconBar">
                  <a href="https://www.facebook.com/kps.kasemradsurgery" class="social"><img src="../assets/img/facebook.png" (click)="click('FACEBOOK')" alt=""></a>
                  <a href="https://line.me/ti/p/07e7OyUft_" class="social"><img src="../assets/img/line.png" (click)="click('LINE')"  alt=""></a>
                  <a href="home" class="social"><img src="../assets/img/wechat.png" (click)="click('WECHAT')"  alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!-- End Header Area -->
